<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Code</title>
    <link rel="stylesheet"
          target="_blank" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<span id="load_date" th:text="${date}"></span>
<br>
<div th:if="${time!='null'}">
    <span id="views_restriction" th:text="${time}"></span>
</div>
<br>
<div th:if="${views!='null'}">
    <span id="time_restriction" th:text="${views}"></span>
</div>
<br>
<pre id="code_snippet"><code th:text="${code}"></code>
</pre>
</body>
</html>