<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<textarea id="code_snippet" th:text="${code}"></textarea>
<br>
Time restriction:<input id="time_restriction" type="text" th:text="${time}"> Seconds</input>
<br>
Views restriction:<input id="views_restriction" type="text" th:text="${views}"> Views</input>
<br>
<button id="send_snippet" type="submit" onclick="send()">Submit</button>
<script>
function send() {
    let object = {
        "code": document.getElementById("code_snippet").value
        "views": document.getElementById("views_restriction").value
        "time": document.getElementById("time_restriction").value
    };

    let json = JSON.stringify(object);

    let xhr = new XMLHttpRequest();
    xhr.open("POST", '/api/code/new', false)
    xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
    xhr.send(json);

    if (xhr.status == 200) {
      alert("Success!");
    }
}
</script>
</body>
</html>